*.o
Makefile
config.h
config.log
config.status
/po/Makefile.in
/po/POTFILES
.deps/
/rtb-team-framework/*.robot
/rtb-team-framework/*.conf
/rtb-team-framework/rtb-team
/rtb-team-framework/stamp-h1
/intl/charset.alias
/intl/libgnuintl.h
/intl/libintl.a
/intl/libintl.h
/intl/ref-add.sed
/intl/ref-del.sed
/src/realtimebattle
/stamp-h1
/Robots/empty/empty.robot
/Robots/jBot/jBot.robot
/Robots/joypad_robot/joypad_robot*.robot
/Robots/perl-Skeleton/perl-Skeleton.robot
/Robots/perl/perl.robot
/Robots/raziel/raziel.py.robot
/Robots/rotate_and_fire/rotate_and_fire*.robot
/Robots/seek_and_destroy/seek_and_destroy.robot
/Robots/thomas2/thomas2.robot
/Robots/xt-bot/xt-bot-*.robot
/Robots/jBot/*.class
/Robots/jBot/classjbot.stamp
